/* ==============================================
   RESET & BASE
   ============================================== */

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base Layout */
html,
body {
    height: 100%;
    overflow-x: hidden;

    font-family: var(--font-main);
    background: var(--soft-bg);
    color: var(--dark-text);

    -webkit-font-smoothing: antialiased;
}

/* Link */
a {
    text-decoration: none;
    color: inherit;
}

/* Button */
button {
    cursor: pointer;
    font-family: var(--font-main);
}